@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --highlight-color: #E0B317;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Nebula';
  src: url('../public/fonts/Nebula-Regular.otf');
}

@font-face {
  font-family: 'Acumin';
  src: url('../public/fonts/Acumin.ttf');
}

@font-face {
  font-family: 'Molde';
  src: url('../public/fonts/Molde.ttf');
}


::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4rem;
}

.btm-loader {
  height: 5rem;
  width: 0.125rem;
  margin: 1.2rem;
  border-radius: 4rem;
  position: relative;
  background-color: #5d4a0a37;
}

.btm-loader::before {
  content: '';
  inset: 0;
  position: absolute;
  background: linear-gradient(#5d4a0a37, #E0B317, #5d4a0a37);
  animation: load-anim 2s linear infinite;
  background-size: 200% 200%;
}

@keyframes load-anim {
  0% {
    background-position: 0 0;
  }

  0% {
    background-position: 0 200%;
  }
}

.slider {
  width: 600px;
  height: 400px;
  margin: 100px auto;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 15s infinite;
  transition: 600ms;
}

@keyframes slide {

  0%,
  100% {
    background-image: url(../public/images/9.png);
  }

  40% {
    background-image: url(../public/images/12.png);
  }

  80% {
    background-image: url(../public/images/8.png);
  }
}